tooling/Visuall/visuall.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="model" type="modelType" />

	<xs:annotation>
		<xs:documentation xml:lang="nl-NL">Model</xs:documentation>
	</xs:annotation>
	<xs:complexType name="modelType">
		<xs:sequence>
			<xs:element name="Naam" type="xs:string" maxOccurs="1" />
			<xs:element name="Homepage" type="xs:string" maxOccurs="1" />
			<xs:element name="Trefwoorden" type="xs:string" maxOccurs="1" />
			<xs:element name="OwnerID" type="xs:long" maxOccurs="1" />
			<xs:element name="areas" type="areasType" />
			<xs:element name="relations" type="relationsType" />
			<xs:element name="references" type="referencesType" />
			<xs:element name="modules" type="modulesType" />
			<xs:element name="items" type="itemsType" />
			<xs:element name="links" type="linksType" />
			<xs:element name="refitems" type="refitemsType" />
			<xs:element name="coloursetups" type="coloursetupsType" />
			<xs:element name="reports" type="reportsType" />
			<xs:element name="drawcharts" type="drawchartsType" />
	<xs:element name="model" type="modelType" />
		</xs:sequence>
		<xs:attribute name="ID"  use="required" type="xsd:ID" />
		<xs:attribute name="changed" type="xs:date" />
		<xs:attribute name="version" type="xs:string" />
	</xs:complexType>

	<xs:annotation>
		<xs:documentation xml:lang="nl-NL">Aandachtsgebieden</xs:documentation>
	</xs:annotation>
	<xs:element name="areasType" maxOccurs="unbounded">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="area" type="areaType" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="areaType">
		<xs:sequence>
			<xs:element name="Naam" type="xs:string" maxOccurs="1" />
			<xs:element name="Logo" type="xs:string" maxOccurs="1" />
			<xs:element name="Kolom" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:enumeration value="1" />
						<xs:enumeration value="2" />
						<xs:enumeration value="3" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:annotation>
				<xs:documentation xml:lang="nl-NL">Positie op pagina</xs:documentation>
			</xs:annotation>

			<xs:element name="Annotatiegebied" type="xs:boolean" maxOccurs="1" />
			<xs:annotation>
				<xs:documentation xml:lang="nl-NL">Een item mag als annotatie aangemaakt worden. Selecteer tijdens het aanpassen een tekst in een editor veld van een ander aandachtsgebied en klik op het annotatie icoon.</xs:documentation>
			</xs:annotation>

			<xs:element name="Begrippenlijst" type="xs:boolean" maxOccurs="1" />
			<xs:annotation>
				<xs:documentation xml:lang="nl-NL">Begrippenlijst. Wanneer de naam van een item uit dit aandachtsgebied op een pagina voorkomt, wordt automatisch een link naar het item aangemaakt.</xs:documentation>
			</xs:annotation>

			<xs:element name="BegrippenCcs" type="xs:string" maxOccurs="1" />
			<xs:element name="AlfabetischSorteren" type="xs:boolean" maxOccurs="1" />
			<xs:annotation>
				<xs:documentation xml:lang="nl-NL">Dit aandachtsgebied altijd alfabetisch sorteren.</xs:documentation>
			</xs:annotation>

			<xs:element name="OvergenomenVanID" type="xs:long" maxOccurs="1" />
			<xs:element name="Homepage" type="xs:string" maxOccurs="1" />
			<xs:element name="OwnerID" type="xs:long" maxOccurs="1" />
			<xs:element name="LogUserID" type="xs:string" maxOccurs="1" />
			<xs:element name="LogFunction" type="xs:string" maxOccurs="1" />
			<xs:element name="areafields" type="areafieldsType" />
			<xs:element name="modules" type="modulesType" />
		</xs:sequence>
		<xs:attribute name="ID"  use="required" type="xsd:ID" />
		<xs:attribute name="changed" type="xs:date" />
	</xs:complexType>

	<xs:annotation>
		<xs:documentation xml:lang="nl-NL">Modules</xs:documentation>
	</xs:annotation>
	<xs:element name="modulesType" maxOccurs="unbounded">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="module" type="moduleType" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="moduleType">
		<xs:sequence>
			<xs:element name="ModuleCode" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="core" />
						<xs:annotation>
							<xs:documentation xml:lang="nl-NL">Core</xs:documentation>
						</xs:annotation>

						<xs:enumeration value="ModelBeheer" />
						<xs:annotation>
							<xs:documentation xml:lang="nl-NL">Modellenbeheer</xs:documentation>
						</xs:annotation>

						<xs:enumeration value="2" />
						<xs:annotation>
							<xs:documentation xml:lang="nl-NL">Visio-export</xs:documentation>
						</xs:annotation>

						<xs:enumeration value="10" />
						<xs:annotation>
							<xs:documentation xml:lang="nl-NL">Tijdreizen</xs:documentation>
						</xs:annotation>

						<xs:enumeration value="21" />
						<xs:annotation>
							<xs:documentation xml:lang="nl-NL">Analyse</xs:documentation>
						</xs:annotation>

						<xs:enumeration value="23" />
						<xs:annotation>
							<xs:documentation xml:lang="nl-NL">Wet- en regelgeving</xs:documentation>
						</xs:annotation>

						<xs:enumeration value="Rules" />
						<xs:annotation>
							<xs:documentation xml:lang="nl-NL">Hulp bij het schrijven van regels en requirements.</xs:documentation>
						</xs:annotation>

						<xs:enumeration value="Archimate20" />
						<xs:annotation>
							<xs:documentation xml:lang="nl-NL">Archimate 2.0</xs:documentation>
						</xs:annotation>

						<xs:enumeration value="3" />
						<xs:annotation>
							<xs:documentation xml:lang="nl-NL">Business Proces Modelling</xs:documentation>
						</xs:annotation>

						<xs:enumeration value="Annotation" />
						<xs:annotation>
							<xs:documentation xml:lang="nl-NL">Aantekeningen maken die automatisch gekoppeld worden.</xs:documentation>
						</xs:annotation>

						<xs:enumeration value="changelog" />
						<xs:annotation>
							<xs:documentation xml:lang="nl-NL">Wijzigingslog</xs:documentation>
						</xs:annotation>

					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:annotation>
				<xs:documentation xml:lang="nl-NL">Modules</xs:documentation>
			</xs:annotation>

		</xs:sequence>
		<xs:attribute name="ID"  use="required" type="xsd:ID" />
		<xs:attribute name="changed" type="xs:date" />
	</xs:complexType>

	<xs:annotation>
		<xs:documentation xml:lang="nl-NL">Kleurinstellingen</xs:documentation>
	</xs:annotation>
	<xs:element name="coloursetupsType" maxOccurs="unbounded">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="coloursetup" type="coloursetupType" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="coloursetupType">
		<xs:sequence>
			<xs:element name="Naam" type="xs:string" maxOccurs="1" />
			<xs:element name="colours" type="coloursType" />
		</xs:sequence>
		<xs:attribute name="ID"  use="required" type="xsd:ID" />
		<xs:attribute name="changed" type="xs:date" />
	</xs:complexType>

	<xs:element name="coloursType" maxOccurs="unbounded">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="colour" type="colourType" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="colourType">
		<xs:sequence>
			<xs:element name="Naam" type="xs:string" maxOccurs="1" />
			<xs:element name="RGB" type="xs:string" maxOccurs="1" />
		</xs:sequence>
		<xs:attribute name="ID"  use="required" type="xsd:ID" />
		<xs:attribute name="changed" type="xs:date" />
	</xs:complexType>

	<xs:annotation>
		<xs:documentation xml:lang="nl-NL">Velden</xs:documentation>
	</xs:annotation>
	<xs:element name="areafieldsType" maxOccurs="unbounded">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="areafield" type="areafieldType" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="areafieldType">
		<xs:sequence>
			<xs:element name="Naam" type="xs:string" maxOccurs="1" />
			<xs:element name="KleurenschemaID" type="xs:long" maxOccurs="1" />
			<xs:element name="Soort" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:enumeration value="1" />
						<xs:annotation>
							<xs:documentation xml:lang="nl-NL">Korte tekst</xs:documentation>
						</xs:annotation>

						<xs:enumeration value="2" />
						<xs:annotation>
							<xs:documentation xml:lang="nl-NL">uitgebreide tekst</xs:documentation>
						</xs:annotation>

						<xs:enumeration value="3" />
						<xs:annotation>
							<xs:documentation xml:lang="nl-NL">Ja/Nee keuzevak</xs:documentation>
						</xs:annotation>

						<xs:enumeration value="4" />
						<xs:annotation>
							<xs:documentation xml:lang="nl-NL">Getal</xs:documentation>
						</xs:annotation>

						<xs:enumeration value="5" />
						<xs:annotation>
							<xs:documentation xml:lang="nl-NL">Geheel getal</xs:documentation>
						</xs:annotation>

						<xs:enumeration value="6" />
						<xs:annotation>
							<xs:documentation xml:lang="nl-NL">Tijd</xs:documentation>
						</xs:annotation>

						<xs:enumeration value="7" />
						<xs:annotation>
							<xs:documentation xml:lang="nl-NL">Datum</xs:documentation>
						</xs:annotation>

						<xs:enumeration value="8" />
						<xs:annotation>
							<xs:documentation xml:lang="nl-NL">Hyperlink</xs:documentation>
						</xs:annotation>

						<xs:enumeration value="9" />
						<xs:annotation>
							<xs:documentation xml:lang="nl-NL">Editor</xs:documentation>
						</xs:annotation>

						<xs:enumeration value="10" />
						<xs:annotation>
							<xs:documentation xml:lang="nl-NL">Keuzelijst</xs:documentation>
						</xs:annotation>

						<xs:enumeration value="11" />
						<xs:annotation>
							<xs:documentation xml:lang="nl-NL">Dashboard</xs:documentation>
						</xs:annotation>

						<xs:enumeration value="13" />
						<xs:annotation>
							<xs:documentation xml:lang="nl-NL">Systeem</xs:documentation>
						</xs:annotation>

					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:annotation>
				<xs:documentation xml:lang="nl-NL">Soort</xs:documentation>
			</xs:annotation>

			<xs:element name="Visibility" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:enumeration value="1" />
						<xs:enumeration value="2" />
						<xs:enumeration value="3" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:annotation>
				<xs:documentation xml:lang="nl-NL">Zichtbaarheid</xs:documentation>
			</xs:annotation>

			<xs:element name="Verplicht" type="xs:boolean" maxOccurs="1" />
			<xs:annotation>
				<xs:documentation xml:lang="nl-NL">Verplicht</xs:documentation>
			</xs:annotation>

			<xs:element name="Minimum" type="xs:integer" maxOccurs="1" />
			<xs:annotation>
				<xs:documentation xml:lang="nl-NL">Min. aantal tekens</xs:documentation>
			</xs:annotation>

			<xs:element name="Maximum" type="xs:integer" maxOccurs="1" />
			<xs:annotation>
				<xs:documentation xml:lang="nl-NL">Max. aantal tekens</xs:documentation>
			</xs:annotation>

			<xs:element name="AantalTekens" type="xs:integer" maxOccurs="1" />
			<xs:annotation>
				<xs:documentation xml:lang="nl-NL">Max. aantal tekens</xs:documentation>
			</xs:annotation>

			<xs:element name="Veldgrootte" type="xs:integer" maxOccurs="1" />
			<xs:annotation>
				<xs:documentation xml:lang="nl-NL">Aantal tekens per regel</xs:documentation>
			</xs:annotation>

			<xs:element name="Achtervoegsel" type="xs:string" maxOccurs="1" />
			<xs:annotation>
				<xs:documentation xml:lang="nl-NL">Achtervoegsel</xs:documentation>
			</xs:annotation>

			<xs:element name="Opties" type="xs:string" maxOccurs="1" />
			<xs:annotation>
				<xs:documentation xml:lang="nl-NL">Opties</xs:documentation>
			</xs:annotation>

			<xs:element name="UnitChoice" type="xs:string" maxOccurs="1" />
			<xs:annotation>
				<xs:documentation xml:lang="nl-NL">Eenheid kiezen</xs:documentation>
			</xs:annotation>

			<xs:element name="Formula" type="xs:string" maxOccurs="1" />
			<xs:element name="Parameters" type="xs:string" maxOccurs="1" />
			<xs:element name="LogUserID" type="xs:string" maxOccurs="1" />
			<xs:element name="LogFunction" type="xs:string" maxOccurs="1" />
		</xs:sequence>
		<xs:attribute name="ID"  use="required" type="xsd:ID" />
		<xs:attribute name="changed" type="xs:date" />
	</xs:complexType>

	<xs:annotation>
		<xs:documentation xml:lang="nl-NL">Koppelrelaties</xs:documentation>
	</xs:annotation>
	<xs:element name="relationsType" maxOccurs="unbounded">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="relation" type="relationType" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="relationType">
		<xs:sequence>
			<xs:element name="VanID" type="xs:long" maxOccurs="1" />
			<xs:element name="NaarID" type="xs:long" maxOccurs="1" />
			<xs:element name="Soorten" type="xs:string" maxOccurs="1" />
			<xs:element name="VanAlfabetischSorteren" type="xs:boolean" maxOccurs="1" />
			<xs:element name="NaarAlfabetischSorteren" type="xs:boolean" maxOccurs="1" />
			<xs:element name="LogUserID" type="xs:string" maxOccurs="1" />
			<xs:element name="LogFunction" type="xs:string" maxOccurs="1" />
			<xs:element name="relationfields" type="relationfieldsType" />
		</xs:sequence>
		<xs:attribute name="ID"  use="required" type="xsd:ID" />
		<xs:attribute name="changed" type="xs:date" />
	</xs:complexType>

	<xs:annotation>
		<xs:documentation xml:lang="nl-NL">Velden</xs:documentation>
	</xs:annotation>
	<xs:element name="relationfieldsType" maxOccurs="unbounded">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="relationfield" type="relationfieldType" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="relationfieldType">
		<xs:sequence>
			<xs:element name="Naam" type="xs:string" maxOccurs="1" />
			<xs:element name="KleurenschemaID" type="xs:long" maxOccurs="1" />
			<xs:element name="Soort" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:enumeration value="1" />
						<xs:annotation>
							<xs:documentation xml:lang="nl-NL">Korte tekst</xs:documentation>
						</xs:annotation>

						<xs:enumeration value="2" />
						<xs:annotation>
							<xs:documentation xml:lang="nl-NL">uitgebreide tekst</xs:documentation>
						</xs:annotation>

						<xs:enumeration value="3" />
						<xs:annotation>
							<xs:documentation xml:lang="nl-NL">Ja/Nee keuzevak</xs:documentation>
						</xs:annotation>

						<xs:enumeration value="4" />
						<xs:annotation>
							<xs:documentation xml:lang="nl-NL">Getal</xs:documentation>
						</xs:annotation>

						<xs:enumeration value="5" />
						<xs:annotation>
							<xs:documentation xml:lang="nl-NL">Geheel getal</xs:documentation>
						</xs:annotation>

						<xs:enumeration value="6" />
						<xs:annotation>
							<xs:documentation xml:lang="nl-NL">Tijd</xs:documentation>
						</xs:annotation>

						<xs:enumeration value="7" />
						<xs:annotation>
							<xs:documentation xml:lang="nl-NL">Datum</xs:documentation>
						</xs:annotation>

						<xs:enumeration value="8" />
						<xs:annotation>
							<xs:documentation xml:lang="nl-NL">Hyperlink</xs:documentation>
						</xs:annotation>

						<xs:enumeration value="9" />
						<xs:annotation>
							<xs:documentation xml:lang="nl-NL">Editor</xs:documentation>
						</xs:annotation>

						<xs:enumeration value="10" />
						<xs:annotation>
							<xs:documentation xml:lang="nl-NL">Keuzelijst</xs:documentation>
						</xs:annotation>

						<xs:enumeration value="11" />
						<xs:annotation>
							<xs:documentation xml:lang="nl-NL">Dashboard</xs:documentation>
						</xs:annotation>

						<xs:enumeration value="13" />
						<xs:annotation>
							<xs:documentation xml:lang="nl-NL">Systeem</xs:documentation>
						</xs:annotation>

					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:annotation>
				<xs:documentation xml:lang="nl-NL">Soort</xs:documentation>
			</xs:annotation>

			<xs:element name="Visibility" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:enumeration value="1" />
						<xs:enumeration value="2" />
						<xs:enumeration value="3" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:annotation>
				<xs:documentation xml:lang="nl-NL">Zichtbaarheid</xs:documentation>
			</xs:annotation>

			<xs:element name="Verplicht" type="xs:boolean" maxOccurs="1" />
			<xs:annotation>
				<xs:documentation xml:lang="nl-NL">Verplicht</xs:documentation>
			</xs:annotation>

			<xs:element name="Minimum" type="xs:integer" maxOccurs="1" />
			<xs:annotation>
				<xs:documentation xml:lang="nl-NL">Min. aantal tekens</xs:documentation>
			</xs:annotation>

			<xs:element name="Maximum" type="xs:integer" maxOccurs="1" />
			<xs:annotation>
				<xs:documentation xml:lang="nl-NL">Max. aantal tekens</xs:documentation>
			</xs:annotation>

			<xs:element name="AantalTekens" type="xs:integer" maxOccurs="1" />
			<xs:annotation>
				<xs:documentation xml:lang="nl-NL">Max. aantal tekens</xs:documentation>
			</xs:annotation>

			<xs:element name="Veldgrootte" type="xs:integer" maxOccurs="1" />
			<xs:annotation>
				<xs:documentation xml:lang="nl-NL">Aantal tekens per regel</xs:documentation>
			</xs:annotation>

			<xs:element name="Achtervoegsel" type="xs:string" maxOccurs="1" />
			<xs:annotation>
				<xs:documentation xml:lang="nl-NL">Achtervoegsel</xs:documentation>
			</xs:annotation>

			<xs:element name="Opties" type="xs:string" maxOccurs="1" />
			<xs:annotation>
				<xs:documentation xml:lang="nl-NL">Opties</xs:documentation>
			</xs:annotation>

			<xs:element name="UnitChoice" type="xs:string" maxOccurs="1" />
			<xs:annotation>
				<xs:documentation xml:lang="nl-NL">Eenheid kiezen</xs:documentation>
			</xs:annotation>

			<xs:element name="Formula" type="xs:string" maxOccurs="1" />
			<xs:element name="Parameters" type="xs:string" maxOccurs="1" />
			<xs:element name="LogUserID" type="xs:string" maxOccurs="1" />
			<xs:element name="LogFunction" type="xs:string" maxOccurs="1" />
		</xs:sequence>
		<xs:attribute name="ID"  use="required" type="xsd:ID" />
		<xs:attribute name="changed" type="xs:date" />
	</xs:complexType>

	<xs:annotation>
		<xs:documentation xml:lang="nl-NL">Verwijzingen</xs:documentation>
	</xs:annotation>
	<xs:element name="referencesType" maxOccurs="unbounded">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="reference" type="referenceType" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="referenceType">
		<xs:sequence>
			<xs:element name="KoppelrelatieID" type="xs:long" maxOccurs="1" />
			<xs:element name="AandachtgebiedID" type="xs:long" maxOccurs="1" />
		</xs:sequence>
		<xs:attribute name="ID"  use="required" type="xsd:ID" />
		<xs:attribute name="changed" type="xs:date" />
	</xs:complexType>

	<xs:annotation>
		<xs:documentation xml:lang="nl-NL">Aandachtsgebieditems</xs:documentation>
	</xs:annotation>
	<xs:element name="itemsType" maxOccurs="unbounded">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="item" type="itemType" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="itemType">
		<xs:sequence>
			<xs:element name="AandachtgebiedID" type="xs:long" maxOccurs="1" />
			<xs:element name="Code" type="xs:string" maxOccurs="1" />
			<xs:element name="Naam" type="xs:string" maxOccurs="1" />
			<xs:element name="GeldigVan" type="xs:date" maxOccurs="1" />
			<xs:element name="GeldigTot" type="xs:date" maxOccurs="1" />
			<xs:element name="CodedName" type="xs:string" maxOccurs="1" />
			<xs:element name="ExterneReferentie" type="xs:string" maxOccurs="1" />
			<xs:element name="Synoniemen" type="xs:string" maxOccurs="1" />
			<xs:element name="OwnerID" type="xs:long" maxOccurs="1" />
			<xs:element name="LogUserID" type="xs:string" maxOccurs="1" />
			<xs:element name="LogFunction" type="xs:string" maxOccurs="1" />
			<xs:element name="areafields" type="areafieldsType" />
			<xs:element name="rules" type="rulesType" />
			<xs:element name="items" type="itemsType" />
		</xs:sequence>
		<xs:attribute name="ID"  use="required" type="xsd:ID" />
		<xs:attribute name="changed" type="xs:date" />
	</xs:complexType>

	<xs:annotation>
		<xs:documentation xml:lang="nl-NL">Velden</xs:documentation>
	</xs:annotation>
	<xs:element name="areafieldsType" maxOccurs="unbounded">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="areafield" type="areafieldType" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="areafieldType">
		<xs:sequence>
			<xs:element name="AandachtveldID" type="xs:long" maxOccurs="1" />
			<xs:element name="Tekst" type="xs:string" maxOccurs="1" />
			<xs:element name="ExtraInfo" type="xs:string" maxOccurs="1" />
			<xs:element name="LogUserID" type="xs:string" maxOccurs="1" />
			<xs:element name="LogFunction" type="xs:string" maxOccurs="1" />
		</xs:sequence>
		<xs:attribute name="ID"  use="required" type="xsd:ID" />
		<xs:attribute name="changed" type="xs:date" />
	</xs:complexType>

	<xs:annotation>
		<xs:documentation xml:lang="nl-NL">Regels en requirements</xs:documentation>
	</xs:annotation>
	<xs:element name="rulesType" maxOccurs="unbounded">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="rule" type="ruleType" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ruleType">
		<xs:sequence>
			<xs:element name="Structure" type="xs:string" maxOccurs="1" />
			<xs:element name="SubjectID" type="xs:long" maxOccurs="1" />
			<xs:element name="SubjectshareID" type="xs:long" maxOccurs="1" />
			<xs:element name="SubjectPlural" type="xs:boolean" maxOccurs="1" />
			<xs:element name="Subject" type="xs:string" maxOccurs="1" />
			<xs:element name="Object" type="xs:string" maxOccurs="1" />
			<xs:element name="AttributeID" type="xs:long" maxOccurs="1" />
			<xs:element name="AttributeshareID" type="xs:long" maxOccurs="1" />
			<xs:element name="Attribute" type="xs:string" maxOccurs="1" />
			<xs:element name="Conditie" type="xs:string" maxOccurs="1" />
			<xs:element name="Formula" type="xs:string" maxOccurs="1" />
			<xs:element name="Regel" type="xs:string" maxOccurs="1" />
		</xs:sequence>
		<xs:attribute name="ID"  use="required" type="xsd:ID" />
		<xs:attribute name="changed" type="xs:date" />
	</xs:complexType>

	<xs:annotation>
		<xs:documentation xml:lang="nl-NL">Koppelrelaties</xs:documentation>
	</xs:annotation>
	<xs:element name="linksType" maxOccurs="unbounded">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="link" type="linkType" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="linkType">
		<xs:sequence>
			<xs:element name="KoppelrelatieID" type="xs:long" maxOccurs="1" />
			<xs:element name="AandachtgebiedItemVanID" type="xs:long" maxOccurs="1" />
			<xs:element name="AandachtgebiedItemNaarID" type="xs:long" maxOccurs="1" />
			<xs:element name="Soort" type="xs:string" maxOccurs="1" />
			<xs:element name="VanPositie" type="xs:string" maxOccurs="1" />
			<xs:element name="NaarPositie" type="xs:string" maxOccurs="1" />
			<xs:element name="LogUserID" type="xs:string" maxOccurs="1" />
			<xs:element name="LogFunction" type="xs:string" maxOccurs="1" />
			<xs:element name="linkFields" type="linkFieldsType" />
		</xs:sequence>
		<xs:attribute name="ID"  use="required" type="xsd:ID" />
		<xs:attribute name="changed" type="xs:date" />
	</xs:complexType>

	<xs:annotation>
		<xs:documentation xml:lang="nl-NL">Velden</xs:documentation>
	</xs:annotation>
	<xs:element name="linkFieldsType" maxOccurs="unbounded">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="linkfield" type="linkfieldType" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="linkfieldType">
		<xs:sequence>
			<xs:element name="KoppelveldID" type="xs:long" maxOccurs="1" />
			<xs:element name="Tekst" type="xs:string" maxOccurs="1" />
			<xs:element name="ExtraInfo" type="xs:string" maxOccurs="1" />
			<xs:element name="LogUserID" type="xs:string" maxOccurs="1" />
			<xs:element name="LogFunction" type="xs:string" maxOccurs="1" />
		</xs:sequence>
		<xs:attribute name="ID"  use="required" type="xsd:ID" />
		<xs:attribute name="changed" type="xs:date" />
	</xs:complexType>

	<xs:annotation>
		<xs:documentation xml:lang="nl-NL">Koppelingen</xs:documentation>
	</xs:annotation>
	<xs:element name="refitemsType" maxOccurs="unbounded">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="refitem" type="refitemType" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="refitemType">
		<xs:sequence>
			<xs:element name="KoppelItemID" type="xs:long" maxOccurs="1" />
			<xs:element name="AandachtItemID" type="xs:long" maxOccurs="1" />
		</xs:sequence>
		<xs:attribute name="ID"  use="required" type="xsd:ID" />
		<xs:attribute name="changed" type="xs:date" />
	</xs:complexType>

	<xs:annotation>
		<xs:documentation xml:lang="nl-NL">Rapportinstellingen</xs:documentation>
	</xs:annotation>
	<xs:element name="reportsType" maxOccurs="unbounded">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="report" type="reportType" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="reportType">
		<xs:sequence>
			<xs:element name="Naam" type="xs:string" maxOccurs="1" />
			<xs:element name="reportareas" type="reportareasType" />
			<xs:element name="dependson" type="dependsonType" />
		</xs:sequence>
		<xs:attribute name="ID"  use="required" type="xsd:ID" />
		<xs:attribute name="changed" type="xs:date" />
	</xs:complexType>

	<xs:annotation>
		<xs:documentation xml:lang="nl-NL">Rapportgebied</xs:documentation>
	</xs:annotation>
	<xs:element name="reportareasType" maxOccurs="unbounded">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="reportarea" type="reportareaType" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="reportareaType">
		<xs:sequence>
			<xs:element name="AandachtgebiedID" type="xs:long" maxOccurs="1" />
			<xs:element name="Richting" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="van" />
						<xs:annotation>
							<xs:documentation xml:lang="nl-NL">Van</xs:documentation>
						</xs:annotation>

						<xs:enumeration value="naar" />
						<xs:annotation>
							<xs:documentation xml:lang="nl-NL">Naar</xs:documentation>
						</xs:annotation>

					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:annotation>
				<xs:documentation xml:lang="nl-NL">Operator</xs:documentation>
			</xs:annotation>

			<xs:element name="Positie" type="xs:string" maxOccurs="1" />
			<xs:element name="MandatoryLink" type="xs:boolean" maxOccurs="1" />
			<xs:annotation>
				<xs:documentation xml:lang="nl-NL">Alleen als er een koppeling is.</xs:documentation>
			</xs:annotation>

			<xs:element name="ForbiddenLink" type="xs:boolean" maxOccurs="1" />
			<xs:annotation>
				<xs:documentation xml:lang="nl-NL">Alleen als er géén koppeling is.</xs:documentation>
			</xs:annotation>

			<xs:element name="GebiedAlsTussenkopTonen" type="xs:boolean" maxOccurs="1" />
			<xs:annotation>
				<xs:documentation xml:lang="nl-NL">Naam rapportgebied als tussenkop tonen.</xs:documentation>
			</xs:annotation>

			<xs:element name="CodeAlsKopNummerTonen" type="xs:boolean" maxOccurs="1" />
			<xs:annotation>
				<xs:documentation xml:lang="nl-NL">Hoofdstuk nummering vervangen door gecodeerde naam uit Visuall.</xs:documentation>
			</xs:annotation>

			<xs:element name="Naam" type="xs:string" maxOccurs="1" />
			<xs:element name="reportfields" type="reportfieldsType" />
			<xs:element name="reportconditions" type="reportconditionsType" />
			<xs:element name="reportareas" type="reportareasType" />
		</xs:sequence>
		<xs:attribute name="ID"  use="required" type="xsd:ID" />
		<xs:attribute name="changed" type="xs:date" />
	</xs:complexType>

	<xs:annotation>
		<xs:documentation xml:lang="nl-NL">Aandachtsgebiedvelden</xs:documentation>
	</xs:annotation>
	<xs:element name="reportfieldsType" maxOccurs="unbounded">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="reportfield" type="reportfieldType" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="reportfieldType">
		<xs:sequence>
			<xs:element name="AandachtveldID" type="xs:long" maxOccurs="1" />
			<xs:element name="KoppelveldID" type="xs:long" maxOccurs="1" />
			<xs:element name="VastVeld" type="xs:string" maxOccurs="1" />
		</xs:sequence>
		<xs:attribute name="ID"  use="required" type="xsd:ID" />
		<xs:attribute name="changed" type="xs:date" />
	</xs:complexType>

	<xs:annotation>
		<xs:documentation xml:lang="nl-NL">Voorwaarden</xs:documentation>
	</xs:annotation>
	<xs:element name="reportconditionsType" maxOccurs="unbounded">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="reportcondition" type="reportconditionType" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="reportconditionType">
		<xs:sequence>
			<xs:element name="ReikwijdteZelf" type="xs:integer" maxOccurs="1" />
			<xs:element name="ReikwijdteMoeders" type="xs:integer" maxOccurs="1" />
			<xs:element name="ReikwijdteDochters" type="xs:integer" maxOccurs="1" />
			<xs:element name="ReikwijdteZusters" type="xs:integer" maxOccurs="1" />
			<xs:element name="AandachtveldID" type="xs:long" maxOccurs="1" />
			<xs:element name="KoppelveldID" type="xs:long" maxOccurs="1" />
			<xs:element name="KoppelrelatieID" type="xs:long" maxOccurs="1" />
			<xs:element name="Vergelijking" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:enumeration value="1" />
						<xs:annotation>
							<xs:documentation xml:lang="nl-NL">is</xs:documentation>
						</xs:annotation>

						<xs:enumeration value="2" />
						<xs:annotation>
							<xs:documentation xml:lang="nl-NL">is gelijk aan</xs:documentation>
						</xs:annotation>

						<xs:enumeration value="3" />
						<xs:annotation>
							<xs:documentation xml:lang="nl-NL">bevat</xs:documentation>
						</xs:annotation>

						<xs:enumeration value="4" />
						<xs:annotation>
							<xs:documentation xml:lang="nl-NL">is groter dan</xs:documentation>
						</xs:annotation>

						<xs:enumeration value="5" />
						<xs:annotation>
							<xs:documentation xml:lang="nl-NL">is groter of gelijk aan</xs:documentation>
						</xs:annotation>

						<xs:enumeration value="6" />
						<xs:annotation>
							<xs:documentation xml:lang="nl-NL">is kleiner dan</xs:documentation>
						</xs:annotation>

						<xs:enumeration value="7" />
						<xs:annotation>
							<xs:documentation xml:lang="nl-NL">is kleiner of gelijk aan</xs:documentation>
						</xs:annotation>

					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:annotation>
				<xs:documentation xml:lang="nl-NL">Operator</xs:documentation>
			</xs:annotation>

			<xs:element name="Direction" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:enumeration value="0" />
						<xs:annotation>
							<xs:documentation xml:lang="nl-NL">Geen</xs:documentation>
						</xs:annotation>

						<xs:enumeration value="1" />
						<xs:annotation>
							<xs:documentation xml:lang="nl-NL">Inkomend</xs:documentation>
						</xs:annotation>

						<xs:enumeration value="2" />
						<xs:annotation>
							<xs:documentation xml:lang="nl-NL">Uitgaand</xs:documentation>
						</xs:annotation>

						<xs:enumeration value="3" />
						<xs:annotation>
							<xs:documentation xml:lang="nl-NL">Beide Richtingen</xs:documentation>
						</xs:annotation>

					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:annotation>
				<xs:documentation xml:lang="nl-NL">Operator</xs:documentation>
			</xs:annotation>

			<xs:element name="Tekst" type="xs:string" maxOccurs="1" />
			<xs:element name="Naam" type="xs:string" maxOccurs="1" />
		</xs:sequence>
		<xs:attribute name="ID"  use="required" type="xsd:ID" />
		<xs:attribute name="changed" type="xs:date" />
	</xs:complexType>

	<xs:annotation>
		<xs:documentation xml:lang="nl-NL">Visio-instellingen</xs:documentation>
	</xs:annotation>
	<xs:element name="drawchartsType" maxOccurs="unbounded">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="drawchart" type="drawchartType" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="drawchartType">
		<xs:sequence>
			<xs:element name="Naam" type="xs:string" maxOccurs="1" />
			<xs:element name="KleurenschemaID" type="xs:long" maxOccurs="1" />
			<xs:element name="Hoogte" type="xs:float" maxOccurs="1" />
			<xs:element name="Breedte" type="xs:float" maxOccurs="1" />
			<xs:element name="drawareas" type="drawareasType" />
			<xs:element name="dependson" type="dependsonType" />
		</xs:sequence>
		<xs:attribute name="ID"  use="required" type="xsd:ID" />
		<xs:attribute name="changed" type="xs:date" />
	</xs:complexType>

	<xs:annotation>
		<xs:documentation xml:lang="nl-NL">Tekengebied</xs:documentation>
	</xs:annotation>
	<xs:element name="drawareasType" maxOccurs="unbounded">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="drawarea" type="drawareaType" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="drawareaType">
		<xs:sequence>
			<xs:element name="Naam" type="xs:string" maxOccurs="1" />
			<xs:element name="GebiedSoort" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:enumeration value="1" />
						<xs:annotation>
							<xs:documentation xml:lang="nl-NL">Boomstructuur</xs:documentation>
						</xs:annotation>

						<xs:enumeration value="2" />
						<xs:annotation>
							<xs:documentation xml:lang="nl-NL">Banen</xs:documentation>
						</xs:annotation>

						<xs:enumeration value="3" />
						<xs:annotation>
							<xs:documentation xml:lang="nl-NL">Alleen een kader</xs:documentation>
						</xs:annotation>

						<xs:enumeration value="4" />
						<xs:annotation>
							<xs:documentation xml:lang="nl-NL">Verwijzingen opnemen</xs:documentation>
						</xs:annotation>

						<xs:enumeration value="5" />
						<xs:annotation>
							<xs:documentation xml:lang="nl-NL">Auteur, versie en datum</xs:documentation>
						</xs:annotation>

						<xs:enumeration value="6" />
						<xs:annotation>
							<xs:documentation xml:lang="nl-NL">Kaartbrede kop- of voettekst</xs:documentation>
						</xs:annotation>

						<xs:enumeration value="7" />
						<xs:annotation>
							<xs:documentation xml:lang="nl-NL">Matrix</xs:documentation>
						</xs:annotation>

						<xs:enumeration value="8" />
						<xs:annotation>
							<xs:documentation xml:lang="nl-NL">Lijst</xs:documentation>
						</xs:annotation>

						<xs:enumeration value="9" />
						<xs:annotation>
							<xs:documentation xml:lang="nl-NL">Matrix met koppelingen</xs:documentation>
						</xs:annotation>

					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:annotation>
				<xs:documentation xml:lang="nl-NL">Tekengebied</xs:documentation>
			</xs:annotation>

			<xs:element name="AandachtgebiedID" type="xs:long" maxOccurs="1" />
			<xs:element name="Sjablonenset" type="xs:integer" maxOccurs="1" />
			<xs:element name="Titelhoogte" type="xs:float" maxOccurs="1" />
			<xs:element name="TopTotRand" type="xs:float" maxOccurs="1" />
			<xs:element name="BottomTotRand" type="xs:float" maxOccurs="1" />
			<xs:element name="LinksTotRand" type="xs:float" maxOccurs="1" />
			<xs:element name="RechtsTotRand" type="xs:float" maxOccurs="1" />
			<xs:element name="Hoogte" type="xs:float" maxOccurs="1" />
			<xs:element name="Breedte" type="xs:float" maxOccurs="1" />
			<xs:element name="Gebied_Float1" type="xs:float" maxOccurs="1" />
			<xs:element name="Gebied_Float2" type="xs:float" maxOccurs="1" />
			<xs:element name="Gebied_Float3" type="xs:float" maxOccurs="1" />
			<xs:element name="Gebied_Float4" type="xs:float" maxOccurs="1" />
			<xs:element name="Gebied_Float5" type="xs:float" maxOccurs="1" />
			<xs:element name="Gebied_Float6" type="xs:float" maxOccurs="1" />
			<xs:element name="Gebied_Float7" type="xs:float" maxOccurs="1" />
			<xs:element name="Gebied_Float8" type="xs:float" maxOccurs="1" />
			<xs:element name="Gebied_Float9" type="xs:float" maxOccurs="1" />
			<xs:element name="Gebied_Float10" type="xs:float" maxOccurs="1" />
			<xs:element name="Gebied_Int1" type="xs:integer" maxOccurs="1" />
			<xs:element name="Gebied_Int2" type="xs:integer" maxOccurs="1" />
			<xs:element name="Gebied_Int3" type="xs:integer" maxOccurs="1" />
			<xs:element name="Gebied_Int4" type="xs:integer" maxOccurs="1" />
			<xs:element name="Gebied_Int5" type="xs:integer" maxOccurs="1" />
			<xs:element name="Gebied_Int6" type="xs:integer" maxOccurs="1" />
			<xs:element name="Gebied_Int7" type="xs:integer" maxOccurs="1" />
			<xs:element name="Gebied_Int8" type="xs:integer" maxOccurs="1" />
			<xs:element name="Gebied_Int9" type="xs:integer" maxOccurs="1" />
			<xs:element name="Gebied_Int10" type="xs:integer" maxOccurs="1" />
			<xs:element name="Gebied_Text1" type="xs:string" maxOccurs="1" />
			<xs:element name="Gebied_Text2" type="xs:string" maxOccurs="1" />
			<xs:element name="Gebied_File1" type="xs:string" maxOccurs="1" />
			<xs:element name="drawpositions" type="drawpositionsType" />
			<xs:element name="drawtemplates" type="drawtemplatesType" />
		</xs:sequence>
		<xs:attribute name="ID"  use="required" type="xsd:ID" />
		<xs:attribute name="changed" type="xs:date" />
	</xs:complexType>

	<xs:annotation>
		<xs:documentation xml:lang="nl-NL">Plaatsing</xs:documentation>
	</xs:annotation>
	<xs:element name="drawpositionsType" maxOccurs="unbounded">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="drawposition" type="drawpositionType" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="drawpositionType">
		<xs:sequence>
			<xs:element name="Richting" type="xs:float" maxOccurs="1" />
			<xs:element name="AfhankelijkVanID" type="xs:long" maxOccurs="1" />
			<xs:element name="Tussenruimte" type="xs:float" maxOccurs="1" />
		</xs:sequence>
		<xs:attribute name="ID"  use="required" type="xsd:ID" />
		<xs:attribute name="changed" type="xs:date" />
	</xs:complexType>

	<xs:annotation>
		<xs:documentation xml:lang="nl-NL">Tekensjablonen</xs:documentation>
	</xs:annotation>
	<xs:element name="drawtemplatesType" maxOccurs="unbounded">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="drawtemplate" type="drawtemplateType" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="drawtemplateType">
		<xs:sequence>
			<xs:element name="Naam" type="xs:string" maxOccurs="1" />
			<xs:element name="Vorm" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:enumeration value="1" />
						<xs:annotation>
							<xs:documentation xml:lang="nl-NL">Proceskaart</xs:documentation>
						</xs:annotation>

						<xs:enumeration value="2" />
						<xs:annotation>
							<xs:documentation xml:lang="nl-NL">Processtap (cirkel)</xs:documentation>
						</xs:annotation>

						<xs:enumeration value="3" />
						<xs:annotation>
							<xs:documentation xml:lang="nl-NL">Code en naam</xs:documentation>
						</xs:annotation>

						<xs:enumeration value="4" />
						<xs:annotation>
							<xs:documentation xml:lang="nl-NL">Titel met koppelingen</xs:documentation>
						</xs:annotation>

						<xs:enumeration value="5" />
						<xs:annotation>
							<xs:documentation xml:lang="nl-NL">Proceskaart uitgebreid</xs:documentation>
						</xs:annotation>

					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:annotation>
				<xs:documentation xml:lang="nl-NL">Vorm en maten</xs:documentation>
			</xs:annotation>

			<xs:element name="Vorm_Icon_image" type="xs:integer" maxOccurs="1" />
			<xs:element name="Vorm_Icon_position" type="xs:integer" maxOccurs="1" />
			<xs:element name="Vorm_Icon_title" type="xs:integer" maxOccurs="1" />
			<xs:element name="Vorm_Icon_navigation" type="xs:integer" maxOccurs="1" />
			<xs:element name="Vorm_Icon_embedded_image" type="xs:string" maxOccurs="1" />
			<xs:element name="Vorm_Icon_embedded_extension" type="xs:string" maxOccurs="1" />
			<xs:element name="Vorm_Icon_embedded_width" type="xs:float" maxOccurs="1" />
			<xs:element name="Vorm_Icon_embedded_height" type="xs:float" maxOccurs="1" />
			<xs:element name="Vorm_Icon_width" type="xs:float" maxOccurs="1" />
			<xs:element name="Vorm_Icon_height" type="xs:float" maxOccurs="1" />
			<xs:element name="Vorm_MargeBoven" type="xs:float" maxOccurs="1" />
			<xs:element name="Vorm_MargeLinks" type="xs:float" maxOccurs="1" />
			<xs:element name="Vorm_MargeRechts" type="xs:float" maxOccurs="1" />
			<xs:element name="Vorm_MargeOnder" type="xs:float" maxOccurs="1" />
			<xs:element name="Vorm_Maten_Float1" type="xs:float" maxOccurs="1" />
			<xs:element name="Vorm_Maten_Float2" type="xs:float" maxOccurs="1" />
			<xs:element name="Vorm_Maten_Float3" type="xs:float" maxOccurs="1" />
			<xs:element name="Vorm_Maten_Float4" type="xs:float" maxOccurs="1" />
			<xs:element name="Vorm_Maten_Float5" type="xs:float" maxOccurs="1" />
			<xs:element name="Vorm_Maten_Float6" type="xs:float" maxOccurs="1" />
			<xs:element name="Vorm_Maten_Float7" type="xs:float" maxOccurs="1" />
			<xs:element name="Vorm_Maten_Float8" type="xs:float" maxOccurs="1" />
			<xs:element name="Vorm_Maten_Float9" type="xs:float" maxOccurs="1" />
			<xs:element name="Vorm_Maten_Float10" type="xs:float" maxOccurs="1" />
			<xs:element name="Vorm_Maten_Float11" type="xs:float" maxOccurs="1" />
			<xs:element name="Vorm_Maten_Float12" type="xs:float" maxOccurs="1" />
			<xs:element name="Vorm_Maten_Float13" type="xs:float" maxOccurs="1" />
			<xs:element name="Vorm_Maten_Float14" type="xs:float" maxOccurs="1" />
			<xs:element name="Vorm_Maten_Float15" type="xs:float" maxOccurs="1" />
			<xs:element name="Vorm_Maten_Float16" type="xs:float" maxOccurs="1" />
			<xs:element name="Vorm_Maten_Float17" type="xs:float" maxOccurs="1" />
			<xs:element name="Vorm_Maten_Float18" type="xs:float" maxOccurs="1" />
			<xs:element name="Vorm_Maten_Float19" type="xs:float" maxOccurs="1" />
			<xs:element name="Vorm_Maten_Float20" type="xs:float" maxOccurs="1" />
			<xs:element name="Vorm_Maten_Float21" type="xs:float" maxOccurs="1" />
			<xs:element name="Vorm_Maten_Float22" type="xs:float" maxOccurs="1" />
			<xs:element name="Vorm_Maten_Float23" type="xs:float" maxOccurs="1" />
			<xs:element name="Vorm_Maten_Float24" type="xs:float" maxOccurs="1" />
			<xs:element name="Vorm_Maten_Float25" type="xs:float" maxOccurs="1" />
			<xs:element name="Vorm_Maten_Int1" type="xs:integer" maxOccurs="1" />
			<xs:element name="Vorm_Maten_Int2" type="xs:integer" maxOccurs="1" />
			<xs:element name="Vorm_Maten_Int3" type="xs:integer" maxOccurs="1" />
			<xs:element name="Vorm_Maten_Int4" type="xs:integer" maxOccurs="1" />
			<xs:element name="Vorm_Maten_Int5" type="xs:integer" maxOccurs="1" />
			<xs:element name="Vorm_Maten_Int6" type="xs:integer" maxOccurs="1" />
			<xs:element name="Vorm_Maten_Int7" type="xs:integer" maxOccurs="1" />
			<xs:element name="Vorm_Maten_Int8" type="xs:integer" maxOccurs="1" />
			<xs:element name="Vorm_Maten_Int9" type="xs:integer" maxOccurs="1" />
			<xs:element name="Vorm_Maten_Int10" type="xs:integer" maxOccurs="1" />
			<xs:element name="Vorm_Maten_Text1" type="xs:string" maxOccurs="1" />
			<xs:element name="Vorm_Maten_Text2" type="xs:string" maxOccurs="1" />
			<xs:element name="Gebied1_ToepassenOp" type="xs:integer" maxOccurs="1" />
			<xs:element name="Gebied2_ToepassenOp" type="xs:integer" maxOccurs="1" />
			<xs:element name="Gebied3_ToepassenOp" type="xs:integer" maxOccurs="1" />
			<xs:element name="Gebied4_ToepassenOp" type="xs:integer" maxOccurs="1" />
			<xs:element name="Gebied5_ToepassenOp" type="xs:integer" maxOccurs="1" />
			<xs:element name="Gebied6_ToepassenOp" type="xs:integer" maxOccurs="1" />
			<xs:element name="Gebied7_ToepassenOp" type="xs:integer" maxOccurs="1" />
			<xs:element name="Gebied8_ToepassenOp" type="xs:integer" maxOccurs="1" />
			<xs:element name="Maten_ToepassenOp" type="xs:integer" maxOccurs="1" />
			<xs:element name="Titel_ToepassenOp" type="xs:integer" maxOccurs="1" />
			<xs:element name="Info_ToepassenOp" type="xs:integer" maxOccurs="1" />
			<xs:element name="Trigger_ToepassenOp" type="xs:integer" maxOccurs="1" />
			<xs:element name="Output_ToepassenOp" type="xs:integer" maxOccurs="1" />
			<xs:element name="Intern_ToepassenOp" type="xs:integer" maxOccurs="1" />
			<xs:element name="Extern_ToepassenOp" type="xs:integer" maxOccurs="1" />
			<xs:element name="Lijnen_ToepassenOp" type="xs:integer" maxOccurs="1" />
			<xs:element name="Omtrek_ToepassenOp" type="xs:integer" maxOccurs="1" />
			<xs:element name="Code_ToepassenOp" type="xs:integer" maxOccurs="1" />
			<xs:element name="NI" type="xs:integer" maxOccurs="1" />
			<xs:element name="N0" type="xs:integer" maxOccurs="1" />
			<xs:element name="N1" type="xs:integer" maxOccurs="1" />
			<xs:element name="N2" type="xs:integer" maxOccurs="1" />
			<xs:element name="N3" type="xs:integer" maxOccurs="1" />
			<xs:element name="N4" type="xs:integer" maxOccurs="1" />
			<xs:element name="N5" type="xs:integer" maxOccurs="1" />
			<xs:element name="N6" type="xs:integer" maxOccurs="1" />
			<xs:element name="N7" type="xs:integer" maxOccurs="1" />
			<xs:element name="N8" type="xs:integer" maxOccurs="1" />
			<xs:element name="N9" type="xs:integer" maxOccurs="1" />
			<xs:element name="Font" type="xs:integer" maxOccurs="1" />
			<xs:element name="Style" type="xs:integer" maxOccurs="1" />
			<xs:element name="Size" type="xs:float" maxOccurs="1" />
			<xs:element name="Color" type="xs:string" maxOccurs="1" />
			<xs:element name="FillForegnd" type="xs:integer" maxOccurs="1" />
			<xs:element name="FillPattern" type="xs:integer" maxOccurs="1" />
			<xs:element name="FillBkgnd" type="xs:integer" maxOccurs="1" />
			<xs:element name="FillForegndTrans" type="xs:float" maxOccurs="1" />
			<xs:element name="ShapeShdwType" type="xs:integer" maxOccurs="1" />
			<xs:element name="ShdwForegnd" type="xs:integer" maxOccurs="1" />
			<xs:element name="ShdwPattern" type="xs:integer" maxOccurs="1" />
			<xs:element name="ShdwBkgnd" type="xs:string" maxOccurs="1" />
			<xs:element name="ShdwForegndTrans" type="xs:float" maxOccurs="1" />
			<xs:element name="HorzAlign" type="xs:integer" maxOccurs="1" />
			<xs:element name="IndLeft" type="xs:float" maxOccurs="1" />
			<xs:element name="IndRight" type="xs:float" maxOccurs="1" />
			<xs:element name="IndFirst" type="xs:float" maxOccurs="1" />
			<xs:element name="SpBefore" type="xs:float" maxOccurs="1" />
			<xs:element name="SpAfter" type="xs:float" maxOccurs="1" />
			<xs:element name="SpLine" type="xs:float" maxOccurs="1" />
			<xs:element name="VerticalAlign" type="xs:integer" maxOccurs="1" />
			<xs:element name="TopMargin" type="xs:float" maxOccurs="1" />
			<xs:element name="LeftMargin" type="xs:float" maxOccurs="1" />
			<xs:element name="RightMargin" type="xs:float" maxOccurs="1" />
			<xs:element name="BottomMargin" type="xs:float" maxOccurs="1" />
			<xs:element name="LinePattern" type="xs:integer" maxOccurs="1" />
			<xs:element name="LineWeight" type="xs:float" maxOccurs="1" />
			<xs:element name="LineColor" type="xs:string" maxOccurs="1" />
			<xs:element name="Rounding" type="xs:float" maxOccurs="1" />
			<xs:element name="drawconditions" type="drawconditionsType" />
		</xs:sequence>
		<xs:attribute name="ID"  use="required" type="xsd:ID" />
		<xs:attribute name="changed" type="xs:date" />
	</xs:complexType>

	<xs:annotation>
		<xs:documentation xml:lang="nl-NL">Voorwaarden</xs:documentation>
	</xs:annotation>
	<xs:element name="drawconditionsType" maxOccurs="unbounded">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="drawcondition" type="drawconditionType" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="drawconditionType">
		<xs:sequence>
			<xs:element name="ReikwijdteZelf" type="xs:integer" maxOccurs="1" />
			<xs:element name="ReikwijdteMoeders" type="xs:integer" maxOccurs="1" />
			<xs:element name="ReikwijdteDochters" type="xs:integer" maxOccurs="1" />
			<xs:element name="ReikwijdteZusters" type="xs:integer" maxOccurs="1" />
			<xs:element name="AandachtveldID" type="xs:long" maxOccurs="1" />
			<xs:element name="KoppelveldID" type="xs:long" maxOccurs="1" />
			<xs:element name="KoppelrelatieID" type="xs:long" maxOccurs="1" />
			<xs:element name="Vergelijking" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:enumeration value="1" />
						<xs:annotation>
							<xs:documentation xml:lang="nl-NL">is</xs:documentation>
						</xs:annotation>

						<xs:enumeration value="2" />
						<xs:annotation>
							<xs:documentation xml:lang="nl-NL">is gelijk aan</xs:documentation>
						</xs:annotation>

						<xs:enumeration value="3" />
						<xs:annotation>
							<xs:documentation xml:lang="nl-NL">bevat</xs:documentation>
						</xs:annotation>

						<xs:enumeration value="4" />
						<xs:annotation>
							<xs:documentation xml:lang="nl-NL">is groter dan</xs:documentation>
						</xs:annotation>

						<xs:enumeration value="5" />
						<xs:annotation>
							<xs:documentation xml:lang="nl-NL">is groter of gelijk aan</xs:documentation>
						</xs:annotation>

						<xs:enumeration value="6" />
						<xs:annotation>
							<xs:documentation xml:lang="nl-NL">is kleiner dan</xs:documentation>
						</xs:annotation>

						<xs:enumeration value="7" />
						<xs:annotation>
							<xs:documentation xml:lang="nl-NL">is kleiner of gelijk aan</xs:documentation>
						</xs:annotation>

					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:annotation>
				<xs:documentation xml:lang="nl-NL">Operator</xs:documentation>
			</xs:annotation>

			<xs:element name="Direction" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:enumeration value="0" />
						<xs:annotation>
							<xs:documentation xml:lang="nl-NL">Geen</xs:documentation>
						</xs:annotation>

						<xs:enumeration value="1" />
						<xs:annotation>
							<xs:documentation xml:lang="nl-NL">Inkomend</xs:documentation>
						</xs:annotation>

						<xs:enumeration value="2" />
						<xs:annotation>
							<xs:documentation xml:lang="nl-NL">Uitgaand</xs:documentation>
						</xs:annotation>

						<xs:enumeration value="3" />
						<xs:annotation>
							<xs:documentation xml:lang="nl-NL">Beide Richtingen</xs:documentation>
						</xs:annotation>

					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:annotation>
				<xs:documentation xml:lang="nl-NL">Operator</xs:documentation>
			</xs:annotation>

			<xs:element name="Tekst" type="xs:string" maxOccurs="1" />
			<xs:element name="Naam" type="xs:string" maxOccurs="1" />
		</xs:sequence>
		<xs:attribute name="ID"  use="required" type="xsd:ID" />
		<xs:attribute name="changed" type="xs:date" />
	</xs:complexType>
	<xs:element name="dependsonType" maxOccurs="unbounded">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="dependsontable" type="dependsontableType" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="dependsontableType">
		<xs:sequence>
		<xs:attribute name="table" />
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="area" />
						<xs:enumeration value="coloursetup" />
					</xs:restriction>
				</xs:simpleType>
		<xs:attribute name="ID" type="xsd:ID" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>